<p class="intro"><b>Good morning, fact-checkers!</b> This edition of our Tech &amp; Check Alerts features claims that the Duke Reporters’ Lab automatically scooped up and then prioritized using the ClaimBuster algorithm developed by our computer science partners at the University of Texas, Arlington.</p>
