<h3>About this email</h3>

<p>Twitter statements are taken from selected Twitter feeds, such as national and state party organizations and endangered incumbents, including those lawmakers’ official campaign and congressional pages. These feeds often quote other sources and are sometimes written in the voice of staffers, so <mark>check the original post to verify attribution</mark>. CNN statements are taken from rush transcripts of yesterday’s CNN programs. Because the transcripts are done quickly, be sure to verify the accuracy of any quote or attribution against the video before using these statements in a fact-check.</p>

<p>This automated email is part of an experimental alert service developed by the Tech &amp; Check Cooperative at the Duke Reporters’ Lab. It is strictly intended to help fact-checkers spot potentially newsworthy statements and claims. It is not for public distribution. No humans on the Tech &amp; Check team reviewed or verified these statements or their attribution before this alert was sent. ClaimBuster selected and ranked each statement algorithmically based on its potential checkability, not its factual accuracy. You can learn more about how ClaimBuster works here: <a href="http://idir-server2.uta.edu/claimbuster/">http://idir-server2.uta.edu/claimbuster/</a></p>

<p>Please send any feedback to Tech &amp; Check project manager Erica Ryan (<a href="mailto:elryan@gmail.com">elryan@gmail.com</a>).</p>

<p>Best,</p>

<p><b>Duke Reporters’ Lab</b></p>
