# Database connection strings

DATABASE_URL_PRODUCTION=postgresql://username:password@localhost/dbname
DATABASE_URL_DEVELOPMENT=postgresql://username:password@localhost/dbname
DATABASE_URL_TEST=postgresql://username:password@localhost/dbname
