# PostgreSQL connection settings
DATABASE_URL_PRODUCTION=postgresql://username:password@localhost/dbname
DATABASE_URL_DEVELOPMENT=postgresql://username:password@localhost/dbname
DATABASE_URL_TEST=postgresql://username:password@localhost/dbname

# Redis connection settings
REDIS_URL=redis://127.0.0.1:6379

# A comma separated list of queue directories (subdirectories in src/server/queues()
# These directories must be properly define all needed queue components, as described
# in the project documentation.
#
# A value of `*` will load all queues.
ENABLED_QUEUE_DIRECTORIES=*

# Generic mailer settings
MAILER_FROM_ADDRESS='Visible Name <email@address.com>'

# Mailgun-specific settings
# (Get these from Mailgun)
MAILGUN_API_DOMAIN=domain.org
MAILGUN_API_URL=https://api.mailgun.net/v3/domain.org
MAILGUN_API_KEY=ABC123
