{{> head }}

<h1>Hello.</h1>

<p>This is the Hello World newsletter. It has no real content, performs no database queries, and is only delivered to the dev list.</p>

<p>👋 You've reached the end of the email. Pat yourself on the back.</p>

{{> foot }}
